.events-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1076px;
  }

  .events-table h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;
  }
  
  .filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-row input,
  .filter-row select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 20%;
  }

  .filter-row .dark-mode-table{
    border: none;
    color: white;
  }

  .filter-row .dark-mode-table::placeholder{
    color: white;
  }

  
  .filter-row input[type="date"] {
    width: 15%;
  }
  
  .filter-row .export-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #141414;
    border: solid 1px #E2E8F0;
    border-radius: 4px;
    cursor: pointer;
  }

  .filter-row .export-btn.dark-mode-table {
    border: none;
    color: white;
  }
  
  .filter-row .export-btn:hover {
    background-color: #c9d7e6;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
    color: #334155;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .dark-mode th, .dark-mode td {
    background-color: #6A6676;
    color: white;
    border: none;
  }
  
  th {
    background-color: #f1f1f1;
    color: #64748B;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

 .dark-mode th{
    background-color: #ADA9BB;
    color: white;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: #10B981;
    line-height: 16px;
    font-weight: 400;
    max-width: 120px;
  }
  
  .status.completed {
    background-color: #D1FAE5;
  }

  .dark-mode .status.completed{
    background-color: transparent;
    border: solid 1px #65DDB5;
  }
  
  .status.inprogress {
    background-color: #DBEAFE;
    color: #3B82F6;
  }

  .dark-mode .status.inprogress{
    background-color: transparent;
    border: solid 1px #77B1FF;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination span {
    margin-right: 20px;
  }
  
  .pagination select {
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .pagination-buttons {
    display: flex;
  }
  
  .pagination-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  .dark-mode .pagination-buttons button {
    background-color: #6A6676;
    color: white;
  }

  .pagination-buttons .page{
    border-radius: 50%;
  }

  .dark-mode .pagination-buttons .page {
    background-color: transparent;
    color: white;
  }

  .pagination-buttons .active{
    background-color: #8576FF;
    color: white;
  }

  .dark-mode .pagination-buttons .active{
    background-color: #8576FF;
  }
  
  .pagination-buttons button:hover {
    background-color: #e9e9e9;
  }
  
  .pagination-buttons button:disabled {
    cursor: not-allowed;
    background-color: #ddd;
  }

  .pagination-select {
    border: solid 1px #E2E8F0;
    padding: 8px;
  }

  .dark-mode .pagination-select {
    border: none;
    background-color: #6A6676;
    color: white;
  }
  
  .dark-mode-table {
    background-color: #6A6676;
  }

