@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
}

.sidebar {
  transition: width 0.3s;
  width: 240px;
  background-color: #ffffff;
  padding: 8px;
  border: solid 1px #f1f5f9;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo-container {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.logo-container .logo-box {
  background-color: #93c5fd;
  border: 1px solid #2563eb;
  width: 64px;
  height: 32px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.logo-container .logo {
  color: #2563eb;
  font-size: 10px;
  font-weight: bold;
  margin: 8px 6px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: start;
}

.sidebar ul li {
  list-style: none;
  font-size: 14px;
  color: #334155;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  gap: 16px;
  padding: 8px;
  cursor: pointer;
}
.sidebar.dark-mode-sidebar ul li {
  color: white;
}

.sidebar ul li.active,
.sidebar ul li.active div {
  color: #8576ff;
}

.sidebar ul li div {
  font-weight: bold;
  font-size: 20px;
  color: #ada9bb;
}

.sidebar .profile {
  display: flex;
}

.sidebar .profile img {
  width: 32px;
  height: 32px;
}

.sidebar .profile .profile-info {
  font-size: 12px;
  font-weight: 400;
  color: #334155;
}

.sidebar.dark-mode-sidebar .profile .profile-info {
  color: white;
}

.sidebar .profile-info-email {
  font-size: 12px;
  color: #ada9bb;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .logo-box {
  width: 30px;
}

.sidebar.collapsed ul {
  align-items: center;
}

.sidebar.collapsed ul li div {
  color: #334155;
}

.sidebar.collapsed.dark-mode-sidebar ul li div {
  color: white;
}

.sidebar.collapsed ul li.active div {
  color: #8576ff;
}

.sidebar.collapsed .dark-mode-toggle {
  margin-left: auto;
}

.sidebar.sidebar.collapsed ul li {
  gap: 0px;
  padding: 8px;
}

.notification-count {
  background-color: red;
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  width: 24px;
  text-align: center;
}
.sidebar.collapsed .notification-count {
  position: absolute;
  top: 299px;
  width: 8px;
  height: 8px;
  padding: 2px;
  left: 36px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.notifications {
  width: 300px;
  padding: 20px;
  background-color: #fff;
}

.collapse-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #334155;
}

.sidebar.dark-mode-sidebar .collapse-toggle-btn {
  color: white;
}

.collapse-toggle-btn div {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.header {
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  margin: 10px;
}

.header-top{
  display: none;
}

.header .mobile-menu {
  display: none;
}

.overview-cards {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.card {
  background: #fff;
  color: #64748b;
  padding: 16px;
  border: solid 1px #f2f2f7;
  border-radius: 2px;
  min-width: 260px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-title {
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}

.card-info {
  font-size: 14px;
  margin-top: 6px;
}

.dark-mode-sidebar .card-info {
  color: white;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #64748b;
}

.dark-mode-sidebar .card-title h3 {
  color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.stat {
  display: flex;
  gap: 4px;
}

.stat p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #334155;
}

.dark-mode-sidebar .stat p {
  color: white;
}

.stat-green {
  color: #10b981;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.stat-red {
  color: #f43f5e;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.chart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
}

/* Container for the carousel and chart */
.container {
  display: flex;
  justify-content: left; /* Ensures both items stay side-by-side */
  gap: 20px; /* Space between the carousel and chart */
  margin: 20px auto;
  max-width: 1200px; /* Adjust width as needed */
}

/* Chart styles */
.chart {
  flex: 1; /* Adjust the width proportionately */
  max-width: 45%; /* Takes 55% of the available space */
  margin-top: 2px;
  margin-bottom: 20px;
  border: solid 1px #f2f2f7;
  border-radius: 5px;
  padding: 40px;
}

/* Carousel styles */
.carousel {
  flex: 1; /* Adjust the width proportionately */
  max-width: 45%; /* Takes 45% of the available space */
  margin-top: 2px;
  margin-bottom: 20px;
  position: relative;
}

.slick-dots li button:before {
  color: #fff;
  content: "—"; /* Use dash instead of dot */
  font-size: 18px;
  font-weight: 800;
}

.slick-dots {
  position: absolute;
  bottom: 10px; /* Position dots closer to the slide */
}

/* Carousel Arrows on the Slides */
.slick-prev,
.slick-next {
  z-index: 1;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  padding: 5px;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 44px;
}

/* Carousel slide content (optional styling) */
.slide-content {
  position: relative;
}

.slide-content .slide-content-text {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: left;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-right: 10px;
}

.slide-content-text h3 {
  margin-bottom: 10px;
}

.dark-mode {
  background-color: #484554;
  /* #27262b */
  color: #fff;
}

.dark-mode-sidebar {
  background-color: #6a6676;
  border: none;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  color: #334155;
}

.sidebar.dark-mode-sidebar .dark-mode-toggle {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 18px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e8f0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Base styles for mobile devices */
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ada9bb;
  }

  .header .logo-container {
    display: block;
  }

  .header .mobile-menu {
    display: block;
    margin-left: 10px;
  }

  .logo-container .logo-box {
    width: 64px;
    height: 32px;
    /* padding: 2px; */
    text-align: center;
    cursor: pointer;
  }
  
  .logo-container .logo {
    color: #2563eb;
    font-size: 10px;
    font-weight: bold;
  }
  
  /* Make the sidebar collapsible into a hamburger menu */
  .sidebar {
    display: none;
  }

  /* Dashboard Overview Cards */
  .overview-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0 10px;
  }

  /* Each card responsive design */
  .card {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  /* Chart and Carousel section side by side on larger screens */
  .container {
    display: flex;
    flex-direction: column; /* Stack on smaller screens */
    align-items: center;
    width: 90vw;
  }

  /* Responsive Chart */
  .chart {
    flex: 1;
    margin-bottom: 20px;
    margin-top: 2px;
    padding: 10px;
    max-width: 100%;
   }

   /* Carousel styles */
  .carousel {
    flex: 1; /* Adjust the width proportionately */
    max-width: 100%; /* Takes 45% of the available space */
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
  }

  .filter-row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter-row input,
  .filter-row select {
    width: 100%;
    margin-bottom: 10px;
  }

  .filter-row .export-btn {
    width: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    text-align: left;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 10px);
    text-align: left;
    font-weight: bold;
  }

  .pagination {
    flex-direction: row;
    align-items: flex-start;
  }

  .pagination span {
    margin-bottom: 10px;
  }

  .pagination-buttons {
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 480px) { 

  .filter-row {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-row input,
  .filter-row select {
    width: 100%;
    margin-bottom: 10px;
  }

  .filter-row .export-btn {
    width: 100%;
  }

  .pagination {
    flex-direction: row;
    align-items: stretch;
  }

  .pagination-buttons {
    width: 60%;
  }

  .pagination-buttons button {
    width: 100%;
    margin-bottom: 5px;
  }

  .pagination span {
    display: none;
  }

  .pagination select {
    width: 100%;
  }
}